!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %div.flex
      %div.sidebar
        %div.sidebar__header.flex
          %div 
            = current_user.name
          %div
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
        
        .sidebar__main
          - current_user.groups.each do |group|
            .sidebar__main__group
              = link_to group_messages_path(group) do
                .group__name
                  = group.name
                .group__message
                  メッセージはまだありません。

      %div.chatroom
        %div.chatroom__header.flex
          %div
            %div テックエキスパート
            %div Member : hiroaki
          
          =link_to "https://chat-space-sample.herokuapp.com/groups/205/edit" do
            %div.chatroom__header__edit-btn
              %div Edit
        
        %div.chatroom__main
          =render partial: 'messages/message'

        %div.chatroom__form.flex
          %div.chatroom__form__input-box.flex
            %input.chatroom__form__input-box__text{placeholder: "type a message"}
            %label.chatroom__form__input-box__image
              %input{type:"file"}
              %i.fa.fa-image
          %input.chatroom__form__send-btn{type: "submit", value: "Send" }
            
            
          %div.chatroom__form__submit-btn



